* {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    letter-spacing: 1px;

    --primary-color-dark: #59689C;
    --primary-color-light: #8AAEE5;
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    overflow: auto;
}

main {
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
    display: none;
}

button, .button {
    background-color: var(--primary-color-light);
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 7px;
    margin: 0;
    border-radius: 5px;
    min-width: 60px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
    text-decoration: none;
}

button.dark , .button.dark {
    background-color: var(--primary-color-dark);
    color: white;
}

.anchor_button {
    cursor: pointer;
    user-select: none;
}

.title {
    background-color: var(--primary-color-dark);
    color: white;
    padding: 20px 100px;
    text-align: center;
}

.title h1 {
    margin: 0 0 0px 0px;
    font-size: 2rem;
}

.title h2 {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
}

.subtitle {
    background-color: var(--primary-color-light);
    text-align: center;
}

.subtitle button, .subtitle .button {
    box-shadow: none;
}

#travaux {
    background-color: #ffa12d;
    border-radius: 10px;
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#travaux img {
    height: 100px;
}

#travaux span {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
}

.simple_button {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

footer {
    background-color: var(--primary-color-dark);
}

footer > div {
    margin: 30px;
}

footer a {
    overflow: visible;
    margin-right: 10px;
}

footer img {
    height: 30px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}