#a_propos {
    background-image: url(./images/briques.jpg);
    background-size: 100% auto;
    padding: 100px;
}

#a_propos > #presentation {
    display: flex;
    justify-content: center;
    max-width: 835px;
    margin: 0 auto;
}

#a_propos > #presentation > img {
    height: 220px;
    flex-shrink: 0;
    image-rendering: pixelated;

    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

#a_propos > #presentation > div {
    font-size: 1.2rem;
    margin-left: 50px;
}

#a_propos > #presentation > div > h1 {
    margin: 0;
    font-size: 1.7rem;
}
#a_propos > #presentation > div > span {
    float: right;
}

#a_propos > #details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 950px;
    margin: 50px auto 0 auto;
}

#a_propos > #details > #competences {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#a_propos > #details > #competences > div {
    width: 70px;
    background-color: var(--primary-color-dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: visible;
}

#a_propos > #details > #competences > div > img {
    height: 30px;
    width: auto;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

#a_propos > #details > #competences > div > span {
    color: white;
    margin-top: 5px;
}

#parcours {
    background-color: var(--primary-color-light);
    border-radius: 10px;
    display: flex;
    padding: 10px;
    color: white;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 35px;
}

#parcours .etape {
    display: inline-block;
    overflow: visible;
    text-align: center;
}

#parcours .etape:not(:first-child) {
    margin-left: 40px;
}

#parcours .etape:not(:last-child) {
    margin-right: 40px;
}

#parcours .point {
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 10px auto 0px auto;
    border-radius: 20px;
    overflow: visible;
    position: relative;
}

#parcours .etape:not(:first-child) .point::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 8px;
    width: 300px;
    height: 3px;
    background-color: white;
}